body{
    background-color: #0a8f94;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.white{
    background-color: white;
}

div{
    display: inline-block;
}

.quadrado{
    position: static;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: 5px;
    justify-content: center;
}

.quadro{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
}
h1{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 1),4px 4px 19px rgba(100, 21, 72, 1);
    margin: 0px;
    margin-bottom: 15px;
}

#color-palette{
    justify-content: center;
    align-items: center;  
    display: flex; 
    flex-direction: row;
}

.quadrado{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#container{
    justify-content: center;
    align-items: center;  
    display: flex; 
    flex-direction: row;
    margin-bottom: 55px;
    margin-top: 40px;
}

#pixel-board{
    justify-content: center;
    align-items: center;  
    display: flex; 
    flex-direction: row;
}

.space {
    margin-right: 15px;
}

#generate-board{
    margin-right: 0px;
    margin-left: 15px;
}