.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}
.white{
    background-color: white;
}
div{
    display: inline-block;
}
.quadrado{
    position: static;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
}

.quadro{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
}

.button{
    position: relative;
    top: -251px;
    left: 150px;
}
#generate-board{
    margin-left: 355px;
}
#board-size{
    position: relative;
    bottom: 251px;
    left: 180px;
}